h1
{
	color: #2e97fc;
}

ul,
li
{
	color: #2e97fc;
	display: inline-block;
}

section
{
	top: 0;
	width: 100%;
	height: 80px;
	z-index: 999;
	position: fixed;
	background: #ffffff;
	box-shadow: 0 1px 1px 1px lightgrey;
}

ul
{
	top: 30px;
	right: 100px;
	position: absolute;
}

li
{
	font-size: 14px;
	cursor: pointer;
	margin-left: 30px;
}

li i
{
	font-size: 20px;
}

div.logo
{
	top: 15px;
	left: 100px;
	position: absolute;
}

div.logo img
{
	width:180px;
}

div.logo p
{
	display: inline-block;
	vertical-align: bottom;
	font-size: 20px;
}

div.logo a
{
	color: #ffffff;
	text-decoration: none;
}

li.user-name:before
{
	content: "";
    width: 0;
    height: 0;
    float: right;
    margin-top: 10px;
    margin-left: 5px;
    border-top: 5px solid #2e97fc;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
