<section>
	<div class="logo">
		<a [routerLink]="['/home']">
			<h1>Ticket.com</h1>
		</a>
	</div>
	<ul>
		<li>
			Fale conosco
		</li>
		<li *ngIf="username === null" [routerLink]="['/']">
			Login
		 </li>
		 <li *ngIf="username !== null" class="user-name">
			<i class="fa fa-user"></i>
			{{username}}
			<p *ngIf="username" (click)="logout()" class="logout">
				Sair
			</p>
		 </li>
		 <!-- <li *ngIf="username" (click)="logout()" class="logout">
			 Sair
		 </li> -->
		<li [routerLink]="['/']">
			Criar conta
		 </li>
		<li>
			<i class="fa fa-shopping-cart" aria-hidden="true"></i>
		</li>
	</ul>
</section>