ul,
li
{
	color: #ffffff;
	display: inline-block;
}

section
{
	width: 100%;
	height: 80px;
	position: fixed;
	background: rgba(0,0,0,.5);
}

ul
{
	top: 20px;
	right: 100px;
	position: absolute;
}

li
{
	font-size: 18px;
	cursor: pointer;
	margin-left: 30px;
}

li i
{
	font-size: 25px;
}

div.logo
{
	top: 3px;
	left: 100px;
	position: absolute;
}

div.logo img
{
	width:180px;
}

div.logo p
{
	display: inline-block;
	vertical-align: bottom;
	font-size: 20px;
}

div.logo a
{
	color: #ffffff;
	text-decoration: none;
}
