<main>
    <div>
        <section class="left-side">
            <img src="http://image.tmdb.org/t/p/w185/{{purchase.evento.poster_path}}" alt="">
            <article>
                <h3>{{purchase.evento.title}}</h3>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{purchase.local.cinema}} - Sala 4</p>
                <p><i class="fa fa-calendar" aria-hidden="true"></i> {{purchase.dia}} - {{purchase.hora}}</p>
                <span>Legendado</span>
                <span>Normal</span>
            </article>
            <article [ngClass]="{'selected': view === 0}" class="bt-change" (click)="changeView(0)">
                <i class="fa fa-ticket" aria-hidden="true"></i>
                <h3>TIPOS DE INGRESSOS</h3>
            </article>
            <article [ngClass]="{'selected': view === 1}" class="bt-change" (click)="changeView(1)">
                <i class="fa fa-credit-card" aria-hidden="true"></i>
                <h3>FORMA DE PAGAMENTO</h3>
            </article>
            <article class="resumo-pedido">
                <div>
                    <h3>RESUMO DO PEDIDO</h3>
                </div>
                <div>
                    <i class="fa fa-ticket" aria-hidden="true"></i>
                    <P>INGRESSOS</P>
                </div>
                <div class="pay payment">
					<p [hidden]="selectInteira > 0 || selectMeia > 0 || selectVantagem > 0">Você não possui ingressos selecionados</p>
					<div *ngIf="selectInteira > 0">
						<p>{{selectInteira}}x Inteira</p>
						<p>R$ {{selectInteira * 28}},00</p>
					</div>
					<div *ngIf="selectMeia > 0">
						<p>{{selectMeia}}x Meia</p>
						<p>R$ {{selectMeia * 14}},00</p>
					</div>
					<div *ngIf="selectVantagem > 0">
						<p>{{selectVantagem}}x KM de vantagens Ipiranga</p>
						<p>R$ {{selectVantagem * 12}},00</p>
					</div>
                </div>
                <div class="pay">
                    <span>
                        <p>
                            <i class="fa fa-usd" aria-hidden="true"></i>
                            TOTAL:
                        </p>
                    </span>
                    <P>R$ {{(selectInteira * 28)+(selectMeia * 14)+(selectVantagem * 12)}},00</P>
                </div>
            </article>
        </section>
        <section class="right-side">
            <article *ngIf="view === 0">
                <div>
                    <h3>Escolha os tipos de ingresso</h3>
                </div>
                <div>
                    <span>
                        <p>Inteira</p>
                        <p>R$ 28,00</p>
                    </span>
                    <select name="" id="" [(ngModel)]="selectInteira">
                        <option value="" selected disabled>Qtd</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div>
                    <span>
                        <p>Meia</p>
                        <p>R$ 14,00</p>
                    </span>
                    <select name="" id="" [(ngModel)]="selectMeia">
                        <option value="" selected disabled>Qtd</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div>
                    <span>
                        <p>KM de vantagens Ipiranga</p>
                        <p>R$ 12,00</p>
                    </span>
                    <select name="" id="" [(ngModel)]="selectVantagem">
                        <option value="" selected disabled>Qtd</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </article>
            <article class="payment" *ngIf="view === 1">
                <div>
                    <h3>
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                        FORMAS DE PAGAMENTO
                    </h3>
                </div>
                <ul>
                    <li>
                        <input name="credit-card" value="Master Card" [(ngModel)]="selectedCard" type="radio">
                        <i class="fa fa-cc-mastercard"></i>
                        Master Card
                    </li>
                    <li>
                        <input name="credit-card" value="Visa" [(ngModel)]="selectedCard" type="radio">
                        <i class="fa fa-cc-visa"></i>
                        Visa
                    </li>
                    <li>
                        <input name="credit-card" value="Discover" [(ngModel)]="selectedCard" type="radio">
                        <i class="fa fa-cc-discover"></i>
                        Discover
                    </li>
                    <li>
                        <input name="credit-card" value="American Express" [(ngModel)]="selectedCard" type="radio">
                        <i class="fa fa-cc-amex"></i>
                        American Express
                    </li>
                    <li>
                        <input name="credit-card" value="PayPal" [(ngModel)]="selectedCard" type="radio">
                        <i class="fa fa-cc-paypal"></i>
                        PayPal
                    </li>
                </ul>
				<h3 class="card-data" *ngIf="selectedCard != null">
					Informe os dados do cartão - {{selectedCard}}
				</h3>
				<article class="card-info" *ngIf="selectedCard != null">
					<form (ngSubmit)="calcTicket()" #payForm="ngForm">
						<div>
							<i class="fa fa-credit-card" aria-hidden="true"></i>
							<input required placeholder="Número do cartão" [(ngModel)]="creditCard.number" name="cardNumber" type="number">
						</div>
						<input required placeholder="Nome como está no cartão" [(ngModel)]="creditCard.name" name="cardName" type="text">
						<div>
							<select required name="cardMonth" [(ngModel)]="creditCard.month" id="">
								<option value="" disabled selected>Mês</option>
								<option value="JAN">Jan</option>
								<option value="FEV">Fev</option>
								<option value="MAR">Mar</option>
							</select>
							<select name="cardYear" [(ngModel)]="creditCard.year" id="">
								<option value="" disabled selected>Ano</option>
								<option *ngFor="let yer of cardYear">
									{{year}}
								</option>
							</select>
							<input required placeholder="CVV" name="cardCVV" [(ngModel)]="creditCard.cvv" type="text" maxlength="3">
						</div>
						<article>
							<button mat-flat-button type="submit" [disabled]="!payForm.form.valid">
								PAGAMENTO
							</button>
						</article>
					</form>
				</article>
            </article>
        </section>
    </div>
</main>
