main
{
    background: #fff;
}

main div
{
    width: 100%;
    max-width: 980px;
    display: flex;
    margin: 0 auto;
}

main div section.left-side
{
    width: 350px;
    padding-top: 100px;
    background: #f8f8f8;
    box-shadow: 1px -5px 10px 0px gray;
}

main div section.left-side img
{
    width: 100px;
    height: 150px;
    margin-top: -90px;
    margin-left: 20px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px -3px rgba(0,0,0,.5);
}

main div section.left-side article
{
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
}

main div section.left-side article p,
main div section.left-side article h3
{
    margin-bottom: 10px;
}

main div section.left-side article p,
main div section.left-side article span
{
    font-size: .8rem;
}

main div section.left-side article span
{
    color: #fff;
    padding: 3px;
    margin-right: 5px;
    background: orange;
}
/* main div section.left-side article.tipo-ingresso, */
main div section.left-side article.bt-change
{
    width: 100%;
    cursor: pointer;
}

main div section.left-side article.bt-change.selected
{
    background: #2e97fc;
    margin: 2px 0;
    position: relative;
}

main div section.left-side article.bt-change.selected:before
{
    content: "";
    width: 0;
    height: 0;
    float: right;
    margin-top: -15px;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid #2e97fc;
    position: absolute;
    right: -10px;
    margin-top: 17px;
}

main div section.left-side article.bt-change
{
    background: #c8c3c3;
    margin: 0;
}

main div section.left-side article.bt-change h3
{
    color: #fff;
    padding: 10px;
    display: inline-block;
}

main div section.left-side article.bt-change i
{
    color: #fff;
    margin-left: 20px;
}

/* resumo pedido */

main div section.left-side article.resumo-pedido
{
    width: 100%;
    margin-left: 0;
}

main div section.left-side article.resumo-pedido div
{
	width: 95%;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

main div section.left-side article.resumo-pedido div div
{
	border: none;
}

main div section.left-side article.resumo-pedido div h3
{
    margin: 0;
}

main div section.left-side article.resumo-pedido div.pay,
main div section.left-side article.resumo-pedido div.pay.payment div
{
	justify-content: space-between;
}

main div section.left-side article.resumo-pedido div.pay.payment
{
	display: block;
}

main div section.left-side article.resumo-pedido div span
{
    background: none;
}

main div section.left-side article.resumo-pedido div span i
{
    color: #50525f;
}

/* right-side */

main div section.right-side
{
    width: 630px;
    padding-top: 100px;
    padding-left: 20px;
}

main div section.right-side div
{
    padding: 20px 10px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

main div section.right-side article.payment
{
	border-radius: 10px;
	margin-bottom: 20px;
    border: 1px solid rgba(0,0,0,.2);
}
main div section.right-side article.payment div h3
{
    padding: 10px 10px;
}

main div section.right-side article.payment div
{
    padding: 0;
}

main div section.right-side article.payment div:nth-child(1)
{
    background: rgba(0,0,0,.2);
    border-radius: 8px 8px 0 0;
}

main div section.right-side article.payment ul li
{
    padding: 20px 10px;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

main div section.right-side article.payment ul li:last-child
{
    border-bottom: none;
}

main div section.right-side article.payment ul li input
{
    margin-right: 10px;
}

h3.card-data
{
	font-weight: 500;
	margin: 10px 20px 0;
}

/* card-info */

article.card-info
{
    width: 300px;
    margin: 20px;
}

main div section.right-side article.card-info div
{
	border-bottom: none;
}

main div section.right-side article.card-info div:nth-child(1)
{
    padding: 10px;
	border-radius: 0;
    background: none;
    align-items: center;
    margin-bottom: 15px;
	border: 1px solid rgba(0,0,0,.2);
}

main div section.right-side article.card-info div:nth-child(1) input
{
    width: 90%;
    border: none;
    padding: 0 5px;
    margin-left: 10px;
    border-left: 1px solid rgba(0,0,0,.2);
}

main div section.right-side article.card-info input:nth-child(2)
{
    padding: 10px;
	width: 300px;
    border: 1px solid rgba(0,0,0,.2);
}

main div section.right-side article.card-info div:nth-child(3)
{
	padding: 15px 0;    
	width: 320px;
}

main div section.right-side article.card-info div select,
main div section.right-side article.card-info div input
{
	width: 90px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.2);
}

main div section.right-side article.card-info div select:nth-child(2)
{
	margin: 0 10px;
}

main div section.right-side article button:disabled
{
	background: #8abff2;
}
main div section.right-side article button
{
    border: none;
    padding: 0px;
	width: 200px;
    color: #fff;
    font-size: .8rem;
    margin-bottom: 20px;
	background: #2e97fc;
}
