<section class="principal">
	<img src="assets/img/icon.svg" alt="">
	<!-- <h1>Ticket.com</h1> -->
	<form action="">
		<div>
			<label for="">Username ou e-mail</label>
			<input [(ngModel)]="usuario.nome" name="username" type="text">
			<label for="">Senha</label>
			<input [(ngModel)]="usuario.senha" name="senha" type="password">
			<button mat-flat-button (click)="login()">Entrar</button>
		</div>
	</form>
	<article>
		<p>
			Novo no ticket.com? 
			<a href="#">
				Crie uma conta.
			</a> 
		</p>
	</article>
</section>