section.principal
{
    width: 100%;
    margin: 0px auto;
    margin-top: -30px;
    position: relative;
    background: #fff;
    padding-bottom: 30px;
}

section.principal h1
{
	margin: 10px 0;
}

section.principal img
{
	width: 220px;
	height: 320px;
	margin-right: 30px;
	box-shadow: 5px 5px 5px -3px rgba(0,0,0,.5);
}

section.principal p:nth-child(1)
{
	cursor: pointer;
}

section.principal p span
{
	padding: 2px;
	font-size: 12px;
	color: #fff;
	background: #50525f;
}

section.principal p span:nth-child(2)
{
	color: #2e97fc;
	background: transparent;
	margin-left: 5px;
	font-weight: bold
}

section.principal article.info
{
	width: 100%;
	display: flex;
	margin: 0 auto;
	max-width: 980px;
	padding-top: 140px;
}

section.principal div
{
	width: 100%;
}

section.principal div  ul
{
	margin: 20px 0;
	border-top: 1px solid rgba(0,0,0,.2);
	border-bottom: 1px solid rgba(0,0,0,.2);
}

section.principal div  ul li
{
	cursor: pointer;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	margin: 10px 40px 10px 0;
}

section.principal div  ul li p
{
	color: #2e97fc;
}

section.principal div  ul li p:nth-child(1)
{
	font-size: 20px;
}

section.principal div  ul li p.selectedDay
{
	color: orange;
}

/* section.descricao */

section.descricao
{
	background: #f8f8f8;
	width: 100%;
}

section.descricao article
{
	width: 100%;
	margin: 0 auto;
	max-width: 980px;
}

section.descricao article div
{
	margin-bottom: 30px;
}

section.descricao article div ul li
{
	width: 100%;
    padding: 20px;
	margin: 30px 0 0;
	display: inline-block;
	border: 1px solid rgba(0,0,0,.2);
}

section.descricao article div ul li h2
{
	color: #2e97fc;
}

section.descricao article div ul li p:nth-child(2)
{
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

section.descricao article div ul li ul li
{
	margin: 0;
	padding: 0;
	border: none;
	width: 100px;
	text-align: left;
}

section.descricao article div ul li ul li p
{
	padding-top: 5px;
}

section.descricao article div ul li ul li button
{
	transition: .5s;
	color: #2e97fc;
	padding: 10px 15px;
	background: transparent;
	border: 1px solid #2e97fc;
}

section.descricao article div ul li ul li button:hover
{
	color: #f8f8f8;
	background: #2e97fc;
}

