<section class="principal">
	<article class="info">
		<img src="http://image.tmdb.org/t/p/w185/{{evento.poster_path}}" alt="">
		<div>
			<p (click)="navigateBack()">
				<i class="fa fa-arrow-left" aria-hidden="true"></i>
				Voltar
			</p>
			<h1>{{evento.title}}</h1>
			<p>
				Classificação <span [ngClass]="{'freeClass': evento.id.toString().substring(0, 1) <= 2 ,
												'mediumClass': evento.id.toString().substring(0, 1) <= 6 && 
												evento.id.toString().substring(0, 1) > 2, 
												'adultClass': evento.id.toString().substring(0, 1) > 6}">
				1{{evento.id.toString().substring(0, 1)}}</span><span>{{evento.runtime}} min.</span>
			</p>
			<ul>
				<li *ngFor="let day of eventsService.data; let i = index" (click)="getEventDate(day, i)">
					<p [ngClass]="{'selectedDay': chosenDay == i}">{{weekDay[i]}}</p>
					<p [ngClass]="{'selectedDay': chosenDay == i}">{{day}}</p>
				</li>
			</ul>
				<h2>Sinopse:</h2>
			<p>{{evento.overview}}</p>
		</div>
	</article>
</section>
<section class="descricao">
	<article>
		<div>
			<ul>
				<li *ngFor="let local of locais; let i = index">
					<h2>{{local.cinema}}</h2>
					<p>{{local.endereco}}</p>
					<ul>
						<li *ngFor="let hora of local.horarios; let index = index"><p>Sala {{index + 1}}</p><button (click)="goToPurchase(evento, local, hora)">{{hora}}</button></li>
					</ul>
				</li>
			</ul>
		</div>
	</article>
</section>