<div id="img-event">
</div>
<section class="principal">
	<article class="info">
		<img src="{{evento.img}}" alt="">
		<h1>{{evento.titulo}}</h1>
		<p>
			<i class="fa fa-map-marker" aria-hidden="true"></i>
			{{evento.local}}
		</p>
		<p>
			<i class="fa fa-calendar" aria-hidden="true"></i>
			{{evento.dia}} de {{evento.mes}}
		</p>
	</article>
</section>
<section class="descricao">
	<article>
		<h3>
			DESCRIÇÃO DO EVENTO
		</h3>
		<p>{{evento.descricao}}</p>
		<p class="btn-back" (click)="navigateBack()">
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
			Voltar
		</p>
	</article>
</section>