<section class="image-caroussel most-search">
	<h2>
		{{titleCategory}}
	</h2>
	<div class="inner">
		<article *ngFor="let caroussel of carousselItems">
			<span (click)="goToEvent(caroussel)">
				<img src="http://image.tmdb.org/t/p/w185/{{caroussel.poster_path}}" alt="">
				<p>{{caroussel.title}}<span>{{caroussel.genres[0].id}}anos</span></p>
				<p>{{caroussel.genres[0].name}}</p>
			</span>
		</article>
	</div>
	<div class="next">
		<i class="fa fa-chevron-right"></i>
	</div>
	<div class="prev">
		<i class="fa fa-chevron-left"></i>
	</div>
</section>