/* Caroussel */

.image-caroussel
{
    width: 100%;
    height: 500px;
    max-width: 980px;
    overflow: hidden;
    margin: 30px auto;
    position: relative;
}

.image-caroussel h2
{
    margin: 20px 0;
}

.image-caroussel img
{
	width: 232px;
    height: 350px;
    margin: 0 6px;
	border-radius: 10px;
}

.image-caroussel .inner
{
    left: 0px;
    display: flex;
    position: absolute;
    transition: left .25s ease-out;
}

.prev:hover i,
.next:hover i
{
    opacity: 1;
}

.most-search .prev i,
.most-search .next i
{
    right: 0;
    top: 40px;
    width: 1.5em;
    height: 1.5em;
    opacity: 0.5;
    color: gray;
    cursor: pointer;
    padding: 0 .2em;
    font-size: 15px;
    line-height: 1.5em;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    border: 1px solid;
    position: absolute;
    box-sizing: border-box;
    background-color: white;
    transform: translateY(-50%);
    transition: opacity 1s linear;
    -webkit-transform: translateY(-50%);
}

.most-search .prev i
{
    right:  30px;
}

.most-search span
{
	cursor: pointer;
}

.most-search p
{
    font-weight: 500;
	margin: 0 20px;
    border-bottom: 1px solid rgba(0,0,0,.3);
}

.most-search p:last-child
{
	font-weight: 400;
	border-bottom: none;
}

.most-search p span
{
    float: right;
    font-size: 12px;
    margin-top: 5px;
    color: #2e97fc;
}