<section class="principal">
	<article class="search-area">
		<img src="assets/img/logoTicket.png" alt="">
		<h1>Compre ingressos para seus eventos favoritos</h1>
		<div class="search-content">
			<input type="search" placeholder="Filmes, shows, eventos...">
			<i class="fa fa-search" aria-hidden="true"></i>
		</div>
	</article>
</section>
<nav class="menu">
	<div>
		<a mat-flat-button>Eventos</a>
		<a mat-flat-button>Shows</a>
		<a mat-flat-button>Cinema</a>
		<a mat-flat-button>Teatro</a>
	</div>
</nav>
<main>
	<section class="most-search">
		<h2>Os mais buscados</h2>
  
		<div class="images-list">
			<img src="assets/img/show-1.jpg" alt="">
			<img src="assets/img/show-2.jpg" alt="">
			<img src="assets/img/show-3.jpg" alt="">
			<img src="assets/img/show-4.jpg" alt="">
			<img src="assets/img/show-5.jpg" alt="">
			<img src="assets/img/show-6.jpg" alt="">
			<img src="assets/img/show-7.jpg" alt="">
			<img src="assets/img/show-8.jpg" alt="">
		</div>
	</section>
	<section class="image-caroussel">
		<h2>
			Cinema
		</h2>
		<div class="inner">
			<img src="assets/img/show-9.jpg" alt="">
			<img src="assets/img/show-10.jpg" alt="">
			<img src="assets/img/show-11.jpg" alt="">
			<img src="assets/img/show-12.jpg" alt="">
			<img src="assets/img/show-9.jpg" alt="">
			<img src="assets/img/show-10.jpg" alt="">
			<img src="assets/img/show-11.jpg" alt="">
			<img src="assets/img/show-12.jpg" alt="">
		</div>
		<div class="next">
			<i class="fa fa-chevron-right"></i>
		</div>
		<div class="prev">
			<i class="fa fa-chevron-left"></i>
		</div>
	</section>

	<section class="sub-section">
		<article>
			<h2>Eventos</h2>
			<div>
				<p>O fantasma da ópera</p>
				<p>A bela e a fera</p>
				<p>Billy Elliot</p>
				<p>O senhor dos anéis in concert</p>
			</div>
			<div>
				<p>Tributo a Michael Jackson</p>
				<p>Carpenters o Musical</p>
				<p>Sunset Boulevard</p>
			</div>
		</article>
		<article>
			<h2>Locais</h2>
			<div>
				<p>Allianz park</p>
				<p>Credicard Hall São Paulo</p>
				<p>Espaco das Américas</p>
				<p>Tom Brasil</p>
			</div>
			<div>
				<p>Vivo Rio</p>
				<p>KM de Vantagens Hall RJ</p>
				<p>KM de Vantagens Hall BH</p>
				<p>Estádio Morumbi</p>
			</div>
		</article>
	</section>
</main>