<section class="principal">
	<article class="search-area">
		<h1>Seu evento preferido ao alcance de um clique.</h1>
		<div class="search-content">
			<input type="search" placeholder="Pesquisar eventos">
			<button>BUSCAR</button>
		</div>
	</article>
	<article class="eventos">
		<ul>
			<li [routerLink]="['/detalhes']">
				<i class="fa fa-music"></i>
				<p>Shows</p>
			</li>
			<li [routerLink]="['/detalhes']">
				<img src="../assets/icons/theatre.svg" alt="">
				<p>Teatro</p>
			</li>
			<li [routerLink]="['/detalhes']">
				<i class="fa fa-cutlery" aria-hidden="true"></i>
				<p>Gastronomia</p>
			</li>
			<li [routerLink]="['/detalhes']">
				<i class="fa fa-film" aria-hidden="true"></i>
				<p>Cinema</p>
			</li>
			<li [routerLink]="['/detalhes']">
				<i class="fa fa-futbol-o" aria-hidden="true"></i>
				<p>Esportes</p>
			</li>
			<li [routerLink]="['/detalhes']">
				<i class="fa fa-star" aria-hidden="true"></i>
				<p>Destaques</p>
			</li>
		</ul>
	</article>
	<article class="image-destak">
		<div class="destakInner">
			<article *ngFor="let best of bestEvents">
				<div>
					<img src="{{best.img}}" alt="">
					<span>
						<h2>{{best.title}}</h2>
						<article class="calendar"><p>{{best.mes}}</p><p>{{best.dia}}</p></article>
						<p class="event-name">{{best.local}}</p>
						<button>VER DETALHES</button>
					</span>
				</div>
			</article>
		</div>
		<div class="next">
			<i class="fa fa-chevron-right"></i>
		</div>
		<div class="prev destak-prev">
			<i class="fa fa-chevron-left"></i>
		</div>
	</article>
</section>
<main>
	<app-caroussel [carousselItems]="mostSearch" [titleCategory]="titleMostSearch"></app-caroussel>
	<app-caroussel [carousselItems]="newEvents" [titleCategory]="titleNewEvents"></app-caroussel>
	<section class="sub-section">
		<article>
			<h2>Eventos</h2>
			<div>
				<p>O fantasma da ópera</p>
				<p>A bela e a fera</p>
				<p>Billy Elliot</p>
				<p>O senhor dos anéis in concert</p>
			</div>
			<div>
				<p>Tributo a Michael Jackson</p>
				<p>Carpenters o Musical</p>
				<p>Sunset Boulevard</p>
			</div>
		</article>
		<article>
			<h2>Locais</h2>
			<div>
				<p>Allianz park</p>
				<p>Credicard Hall São Paulo</p>
				<p>Espaco das Américas</p>
				<p>Tom Brasil</p>
			</div>
			<div>
				<p>Vivo Rio</p>
				<p>KM de Vantagens Hall RJ</p>
				<p>KM de Vantagens Hall BH</p>
				<p>Estádio Morumbi</p>
			</div>
		</article>
	</section>
</main>