/* section */

section.principal
{
	width: 100%;
    text-align: center;
    background-color: #f8f8f8;
}
section.principal img
{
	margin-bottom: 40px;
}

section.principal h1
{
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 20px;
}

/* article eventos */

article.eventos
{
    width: 100%;
    max-width: 980px;
    margin: 0px auto;
    text-align: left;
}

article.eventos ul
{
    text-align: center;
}

article.eventos ul li
{
    width: 100px;
    margin: 20px;
    height: 100px;
    transition: .5s;
    cursor: pointer;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    border: 1px solid #2e97fc;
    box-shadow: 0 17px 24px -15px rgba(0, 0, 0, .3);
}

article.eventos ul li:hover
{
    transform: scale(1.1);
}

article.eventos ul li img
{
    width: 50px;
    color: #2e97fc;
    margin-top: 20px;
    margin-bottom: 0;
}

article.eventos ul li i
{
    font-size: 40px;
    margin-top: 30px;
    color: #2e97fc;
}

article.eventos ul li p
{
    margin-top: 40px;
}

article.eventos h2
{
    font-size: 20px;
    font-weight: 100;
}

article.eventos.destaques
{
    width: 100%;
    max-width: 500px;    
}

/* main e nav */
main
{
    background: #ffffff;
}

nav
{
	text-align: center;
	padding-top: 20px;
}

nav a
{
	margin: 10px;
}

main section,
nav div
{
	width: 100%;
	max-width: 980px;
    margin: 0px auto;
    height: 300px;
}

main div.images-list img
{
	display: inline-block;
	margin: 10px 5px;
}

main section.sub-section
{
    width: 100%;
    height: 250px;
}

main section.sub-section article
{
    width: 49%;
    margin: 0 4px;
    display: inline-block;
}

main section.sub-section article div
{
    width: 49%;
    margin: 1.4px;
    display: inline-block;
    vertical-align: top;
}

.sub-section h2
{
    border-bottom: 1px solid;
    padding: 10px 0;
    margin: 10px 0;
}

/* Caroussel */

.image-destak
{
    width: 100%;
    height: 450px;
    max-width: 980px;
    overflow: hidden;
    margin: 130px auto 20px;
    position: relative;
}

.image-destak h2
{
    text-align: left;
    margin-bottom: 10px;
}

.image-destak .destakInner
{
    left: 0px;
    display: flex;
    position: absolute;
    transition: left .25s ease-out;
}
.image-destak .destakInner img
{
    margin-bottom: 0;
}

.image-destak .destakInner div
{
    display: flex;
    margin: 0 10px;
    border: 1px solid #ccc;
}

.image-destak .destakInner div h2
{
    color: #50525f;
    margin-top: 20px;
}

.image-destak .destakInner div span
{
    width: 265px;
    background-color: #fff;
}

.image-destak button
{
	border: none;
    width: 100px;
    padding: 10px;
    font-size: 10px;
    margin-top: 15px;
    color: #ffffff;
	border-radius: 5px;
    background: #2e97fc;
}

.image-destak .calendar
{
    margin-top: 20px;
    margin-left: 20px;
    width: fit-content;
    border: 1px solid rgba(0,0,0,0.2);
}

.image-destak .calendar p
{
    padding: 5px;
    font-size: 12px;
}

.prev i,
.next i
{
    right: 0;
    top: 50%; 
    width: 3em;
    height: 3em;
    opacity: 0.5;
    color: gray;
    cursor: pointer;
    border: 1px solid;
    padding: 0 .2em;
    font-size: 20px;
    line-height: 3em;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    box-sizing: border-box;
    background-color: white;
    transform: translateY(-50%);
    transition: opacity 1s linear;
}

.prev.destak-prev i
{
    left: 7px;
}

.prev:hover i,
.next:hover i
{
    opacity: 1;
}
