<section class="principal">
	<article class="image-destak">
		<h2>ESTRÉIAS</h2>
		<div class="destakInner">
			<article *ngFor="let best of bestEvents">
				<div>
					<img src="{{best.img}}" alt="">
					<!-- <span>
						<h2>{{best.titulo}}</h2>
						<article class="calendar"><p>{{best.genero}}</p></article>
						<article class="calendar"><p>Estréia {{best.data}}</p></article>
						<article class="calendar"><p>Class.: {{best.classificacao}}</p></article>
						<button>VER DETALHES</button>
					</span> -->
				</div>
			</article>
		</div>
		<div class="next">
			<i class="fa fa-chevron-right"></i>
		</div>
		<div class="prev destak-prev">
			<i class="fa fa-chevron-left"></i>
		</div>
	</article>
	<!-- <article class="eventos"> -->
		<!-- <ul>
			<li (click)="goToEvent('acao')">
				<img src="../assets/icons/actionMovie.svg" alt="">
				<p>Ação</p>
			</li>
			<li (click)="goToEvent('comedia')">
				<img src="../assets/icons/theatre.svg" alt="">
				<p>Comédia</p>
			</li>
			<li (click)="goToEvent('romance')">
				<i class="fa fa-cutlery" aria-hidden="true"></i>
				<p>Romance</p>
			</li>
			<li (click)="goToEvent('suspense')">
				<i class="fa fa-film" aria-hidden="true"></i>
				<p>Suspense</p>
			</li>
			<li (click)="goToEvent('ficcao')">
				<i class="fa fa-futbol-o" aria-hidden="true"></i>
				<p>Ficção</p>
			</li>
			<li (click)="goToEvent('destaques')">
				<i class="fa fa-star" aria-hidden="true"></i>
				<p>Destaques</p>
			</li>
		</ul>
	</article> -->
</section>
<main>
	<app-caroussel [carousselItems]="bestMovies" [titleCategory]="tituloDestaques"></app-caroussel>
	<app-caroussel [carousselItems]="actionMovies" [titleCategory]="tituloAcao"></app-caroussel>
	<section class="sub-section">
		<article>
			<h2>EVENTOS</h2>
			<div>
				<p>O fantasma da ópera</p>
				<p>A bela e a fera</p>
				<p>Billy Elliot</p>
				<p>O senhor dos anéis in concert</p>
			</div>
			<div>
				<p>Tributo a Michael Jackson</p>
				<p>Carpenters o Musical</p>
				<p>Sunset Boulevard</p>
			</div>
		</article>
		<article>
			<h2>LOCAIS</h2>
			<div>
				<p>Allianz park</p>
				<p>Credicard Hall São Paulo</p>
				<p>Espaco das Américas</p>
				<p>Tom Brasil</p>
			</div>
			<div>
				<p>Vivo Rio</p>
				<p>KM de Vantagens Hall RJ</p>
				<p>KM de Vantagens Hall BH</p>
				<p>Estádio Morumbi</p>
			</div>
		</article>
	</section>
</main>